
<ion-view style="background-color:#F1FDEF">

      <ion-header-bar id="header" class="bar bar-header bar-stable" style="background: #a0ce4e; height:98px">
      <div style="width:100%">
      <div style="color:white;text-align:center">
      <b style="font-size:16px">Feedback Sources for: {{parentName}}</b>
      </div>
      <div style="display: flex;color:white;background: #a0ce4e;align-items: center;padding-top:10px">
   
<div style="width:18%;text-align: left;color:white;padding-left: 15px;">Type</div>
<div style="width:30%;text-align: left;color:white">
  <div>Client ID</div>
  <div>Client Group</div>
</div>

<div style="width:25%;text-align: left;color:white">
  <div>Session#</div>
  <div>Last Survey Date</div>
</div>
<div style="width:15%;text-align: left;color:white">Take Survey</div>
<div style="width:12%;text-align: left;color:white;padding-left: 3px;">CSR</div>


      </div>
      </div>
    </ion-header-bar>


 <ion-content scroll="true" style="top:98px;">
   <section>
    <div class="list">
      
  <ion-item style="display:flex;align-items: center; border: 1px solid #a0ce4e;background: #F1FDEF" ng-repeat="client in feedbackclients | orderBy: 'clientName' " class="item-text-wrap">
<div style="width:18%;text-align: left;">
  <img src="images/client.png" height="30" width="30">
</div>

<div style="width:30%;text-align: left;font-size: 12px;">

<div>{{client.clientName}}</a></div>
<div>{{client.clientGroup}}</div>

</div>

<div style="width:25%;text-align: left;font-size: 12px;">
  <div>#{{client.sessionNo}}</div>
  <div>{{client.orsDate | date:'yyyy-MM-dd'}}</div>
</div>
<div style="width:15%;text-align: left;color:white">
  <button class="button button-clear" ng-if="client.surveyOrder == 1 || client.surveyOrder == null " ng-click="gotoOrs(client)"><img src="images/ors.png" height="30" width="30"></button>
      <button class="button button-clear" ng-if="client.surveyOrder == 2" ng-click="gotoSrs(client)"><img src="images/srs.png" height="30" width="30"></button>
</div>
<div style="width:12%;text-align: left;color:white;padding-left:5px;">

  <button class="button button-clear" ng-click="gotoCsr(client.userId)">
            <img ng-if="client.signal == 0" src="images/csr_red.png" height="30" width="30">
            <img ng-if="client.signal == 1" src="images/csr_yellow.png" height="30" width="30">
            <img ng-if="client.signal == 2" src="images/csr_green.png" height="30" width="30">
      </button>

</div>
  
            </ion-item>
    </div>
  </section>
 </ion-content>

</ion-view >