<ion-view hide-nav-bar="true">
    <!--<ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="navigateHome()">
            Home
        </button>
    </ion-nav-buttons>-->
    <!--
    <ion-nav-buttons side="left">
        <button class="button" ng-click="navigateHome()">
            Retake
        </button>
    </ion-nav-buttons>
        //-->
    <!--<ion-nav-buttons side="right">
        <button class="button button-clear icon icon-right ion-chevron-right" ng-click="navigateFeedback()" ng-show="showFeedback">
            Feedback
        </button>
    </ion-nav-buttons>-->
     
    <ion-content >
         <div class="row">
                <header class="col-xs-12 text-center">
                	<div>
                        <button class="pull-left mo-nav-btn" ng-click="navigatetoClientlist()"><i class="fa fa-chevron-left" aria-hidden="true"></i><span>Client list</span></button>
                        
                        <h4 style="margin-right:25px">Graph</h4>
                    </div>
                </header>
          	</div>
        <!--<ion-header-bar align-title="left">
            <div class="buttons">
                <button class="button" ng-click="navigateHome()">Home</button>
            </div>
            <h1 class="title">

            </h1>
            <div class="buttons">
                <button class="button" ng-click="submitOrs()">Submit</button>
            </div>
        </ion-header-bar>-->
        <div id="container" draw-pie-chart=""></div>
         <div id="offlineText" style="padding-top:10px"></div>

    </ion-content>
</ion-view>