﻿<ion-view hide-nav-bar="true">

    <ion-content>
         <section class="bghome" style="background-image:url(images/Landing%20page.jpg)">

<div class="container">
        	<div >
                <header class="col-xs-12">
                    <div class="logo">
                        <img src="images/logo.png">
                    </div>
                </header>
          	</div>
</div>

        <div class="questionPad">
            <div class="col center">
                <p style="font-size: 18px;">Client ID: {{client.userId}}</p>
                <p style="font-size: 18px;">Client Name: {{client.clientName}}</p>
                <p style="font-size: 18px;">Session #: {{sessionNum}}</p>
            </div>
        </div>
        <div class=" seperator" ></div>
        <div class=" questionPad">
            <div class="col center">
                <a class="button button-balanced button-large" href="#/tab/{{surveytoTake}}" style="padding:10px;display:inline">Take {{displaySurveytoTake}}</a>
            </div>
        </div>

         </section>

    </ion-content>
</ion-view>