﻿<ion-view hide-nav-bar="true">

    <ion-content>
       <section class="bgors" style="background-image:url(images/Landing%20page.jpg)">

            <div >
                <header class="col-xs-12 text-center">
                	<div class="head-nav">

                        <button class="pull-left mo-nav-btn ion-chevron-left" ng-click="reviewOrs(survey.Q4,'tab.orsreview')"><span style="font-size: 18px;">Review</span><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                        <button class="pull-right mo-nav-btn"  ng-click="submitOrs(survey)"><span style="font-size: 18px;">Submit</span><i class="fa fa-chevron-right icon-right ion-chevron-right" aria-hidden="true"></i></button>

                        <h4>ORS Feedback</h4>
                    </div>
                </header>
          	</div>

        <div >
                <div class="row " style="padding-left:20px">
                    <div class="col-50 feedback-col" ><h4>Measure</h4></div>
                    <div class="col-50 feedback-col"><h4>Score</h4></div>
                </div>
                <div class="row feedback-row" style="padding-left:20px">
                    <div class="col-50 feedback-col" ng-if="isAdult == true">{{translation.Q1ORSHeader}}</div>
                    <div class="col-50 feedback-col" ng-if="isAdult == false">{{translation.Q1ORSChildHeader}}</div>
                    <div class="col-50 feedback-col">{{feedback.Q1/10 | number : 1}} out of 10</div>
                </div>
                <div class="row feedback-row" style="padding-left:20px">
                    <div class="col-50 feedback-col" ng-if="isAdult == true">{{translation.Q2ORSHeader}}</div>
                    <div class="col-50 feedback-col" ng-if="isAdult == false">{{translation.Q2ORSChildHeader}}</div>
                    <div class="col-50 feedback-col">{{feedback.Q2/10 | number : 1}} out of 10</div>
                </div>
                <div class="row feedback-row" style="padding-left:20px">
                    <div class="col-50 feedback-col" ng-if="isAdult == true">{{translation.Q3ORSHeader}}</div>
                    <div class="col-50 feedback-col" ng-if="isAdult == false">{{translation.Q3ORSChildHeader}}</div>
                    <div class="col-50 feedback-col">{{feedback.Q3/10 | number : 1}} out of 10</div>
                </div>
                <div class="row feedback-row" style="padding-left:20px">
                    <div class="col-50 feedback-col" ng-if="isAdult == true">{{translation.Q4ORSHeader}}</div>
                    <div class="col-50 feedback-col" ng-if="isAdult == false">{{translation.Q4ORSChildHeader}}</div>
                    <div class="col-75 feedback-col">{{feedback.Q4/10 | number : 1}} out of 10</div>
                </div>
                <div class="row" style="padding-left:20px">
                    <div class="col-50 feedback-col"><strong>Total Score</strong></div>
                    <div class="col-50 feedback-col"><strong>{{feedbackTotal/10 | number : 1}} out of 40</strong></div>
                </div>
                
            </div>
        </section>
        </ion-content>
    </ion-view>
