﻿<ion-view hide-nav-bar="true">
        <!--<ion-nav-buttons side="right">
            <button class="button button-clear icon icon-right ion-chevron-right" ng-click="submitOrs(survey)">Submit</button>
        </ion-nav-buttons>-->
        <ion-content>
            <section class="bgors" style="background-image:url(images/Landing%20page.jpg)">

          <div >
                <header class="col-xs-12 text-center">
                	<div class="head-nav">
                        <button class="pull-left mo-nav-btn ion-chevron-left" ng-click="GoToQ4(survey.Q3,'tab.ors4')"><span style="font-size: 18px;">Back</span><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                        <button class="pull-right mo-nav-btn"  ng-click="Gotofeedback()"><span style="font-size: 18px;">Feedback</span><i class="fa fa-chevron-right icon-right ion-chevron-right" aria-hidden="true"></i></button>

                        <!--<button class="pull-left mo-nav-btn" ng-click="GoToQ4(survey.Q3,'tab.ors4')"><i class="fa fa-chevron-left" aria-hidden="true"></i><span>Back</span></button>
                        <button class="pull-right mo-nav-btn" ng-click="submitOrs(survey)"><span>Submit</span><i class="fa fa-chevron-right" aria-hidden="true"></i></button>-->
                        <h4>Review ORS</h4>
                    </div>
                </header>
          	</div>

            <form>
                <!-- {{SurveyModel.SurveyType=1}} -->
                                    
                    <div class="row">
                <div class="col surveyQuestionHead">
                   <div ng-if="isAdult == true">{{translation.Q1ORSHeader}}</div>
                    <div ng-if="isAdult == false">{{translation.Q1ORSChildHeader}}</div> 
               </div>
                    </div>
                    <div >
                        <div class="col">
                            <div class="item range range-positive surveySlider">
                                <input type="range" name="survey" min="0" max="100" ng-model="survey.Q1" disabled />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                                    <div class="col surveyQuestionHead">
                   <div ng-if="isAdult == true">{{translation.Q2ORSHeader}}</div>
                    <div ng-if="isAdult == false">{{translation.Q2ORSChildHeader}}</div> 
               </div>
                    </div>
                    <div >
                        <div class="col">
                            <div class="item range range-positive surveySlider">
                                <input type="range" name="survey" min="0" max="100" ng-model="survey.Q2" disabled />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                                    <div class="col surveyQuestionHead">
                   <div ng-if="isAdult == true">{{translation.Q3ORSHeader}}</div>
                    <div ng-if="isAdult == false">{{translation.Q3ORSChildHeader}}</div> 
               </div>
                    </div>
                    <div >
                        <div class="col">
                            <div class="item range range-positive surveySlider">
                                <input type="range" name="survey" min="0" max="100" ng-model="survey.Q3" disabled />
                            </div>
                        </div>
                    </div>

                    <div class="row">
              <div class="col surveyQuestionHead">
                   <div ng-if="isAdult == true">{{translation.Q4ORSHeader}}</div>
                    <div ng-if="isAdult == false">{{translation.Q4ORSChildHeader}}</div> 
               </div>
                    </div>
                    <div >
                        <div class="col">
                            <div class="item range range-positive surveySlider">
                                <input type="range" name="survey" min="0" max="100" ng-model="survey.Q4" disabled />
                            </div>
                        </div>
                    </div>



            </form>
            </section>
        </ion-content>
</ion-view>