
<ion-view hide-nav-bar="true">
    <!--<ion-nav-buttons side="right">
        <button class="button button-clear icon icon-right ion-chevron-right" ng-click="GoToQ2(survey.Q1,'tab.srs2')">Next</button>
    </ion-nav-buttons>-->


    <ion-content >
    
        <section class="bgors" style="background-image:url(images/Landing%20page.jpg)">
            <div>
                <header class="col-xs-12 text-center">
                	<div class="head-nav">
                        <button class="pull-left mo-nav-btn ion-chevron-left" ng-click="Gotosrs()"><span style="font-size: 18px;">Back</span><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                        <button class="pull-right mo-nav-btn" ng-click="GoToQ2(survey.Q1,'tabprovider.srs2')"><span style="font-size: 18px;">Next</span><i class="fa fa-chevron-right icon-right ion-chevron-right" aria-hidden="true"></i></button>
                       
                        <!--<h4 ng-if="isGroup == false">SRS (1/4)</h4>
                        <h4 ng-if="isGroup == true">Group SRS (1/4)</h4>-->
        <h4>
                    <div ng-if="isAdult == true"> 
                          
                <div ng-if="isGroup == false">SRS (1/4)</div>
                <div ng-if="isGroup == true">Group SRS (1/4)</div>

                    </div>

                    <div ng-if="isAdult == false">

                <div ng-if="isGroup == false">Child SRS (1/4)</div>
                <div ng-if="isGroup == true">Group SRS (1/4)</div>

                    </div>
       </h4>
                    </div>
                </header>
          	</div>
        <form>
            <div class="questionPad">
                <div class="col surveyQuestionHead">

                    <div ng-if="isAdult == true"> 
                          
                <div ng-if="isGroup == false">{{translation.Q1SRSHeader}}</div>
                <div ng-if="isGroup == true">{{translation.Q1SRSGroupHeader}}</div>

                    </div>

                    <div ng-if="isAdult == false">

                <div ng-if="isGroup == false">{{translation.Q1SRSChildHeader}}</div>
                <div ng-if="isGroup == true">{{translation.Q1SRSGroupHeader}}</div>

                    </div>

                </div>
               
            </div>
            <div class="row" style="padding:0px 0px 0px 20px;">
                <div class="col col-50 srs-left">
                   
                     <div ng-if="isAdult == true"> 
                          
                <div ng-if="isGroup == false">{{translation.Q1SRSLeft}}</div>
                <div ng-if="isGroup == true">{{translation.Q1SRSGroupLeft}}</div>

                    </div>

                    <div ng-if="isAdult == false">

                <div ng-if="isGroup == false">{{translation.Q1SRSChildLeft}}</div>
                <div ng-if="isGroup == true">{{translation.Q1SRSGroupLeft}}</div>

                    </div>
                </div>
                 
                <div class="col"></div>
                <div class="col col-50 srs-right">
                   
                    <div ng-if="isAdult == true"> 
                          
                <div ng-if="isGroup == false">{{translation.Q1SRSRight}}</div>
                <div ng-if="isGroup == true">{{translation.Q1SRSGroupRight}}</div>

                    </div>

                    <div ng-if="isAdult == false">

                <div ng-if="isGroup == false">{{translation.Q1SRSChildRight}}</div>
                <div ng-if="isGroup == true">{{translation.Q1SRSGroupRight}}</div>

                    </div>
                    
                </div>
                
            </div>
           
            <div>
                <!--<div class="col">
                    <div class="item range range-positive surveySlider">
                        <input type="range" name="survey" min="0" max="100" ng-model="survey.Q1" />
                    </div>
                </div>-->

           <div >
           		<div class="col-xs-12">
                    <div class="mo-slider">
                    	<input type="range" name="survey" min="0" max="100" step="10" ng-model="survey.Q1" id="q1"/>
                    </div>
                </div>
            </div>

            </div>
        </form>

        </section>
        
    </ion-content>
</ion-view>


