<ion-view  hide-nav-bar="true">
    <!--<ion-nav-buttons side="right">
        <button class="button button-clear icon icon-right ion-chevron-right" ng-click="GoToQ2(survey.Q1,'tab.ors2')">Next</button>
    </ion-nav-buttons>-->
    <ion-content >
         <section class="bgors" style="background-image:url(images/Landing%20page.jpg)">

            <div >
                <header class="col-xs-12 text-center">
                	<div class="head-nav">

                        <button class="pull-left mo-nav-btn ion-chevron-left" ng-click="Gotoors()"><span style="font-size: 18px;">Back</span><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                        <button class="pull-right mo-nav-btn"  ng-click="GoToQ2(survey.Q1,'tabprovider.ors2')"><span style="font-size: 18px;">Next</span><i class="fa fa-chevron-right icon-right ion-chevron-right" aria-hidden="true"></i></button>

                        <!--<button class="pull-left mo-nav-btn" ng-click="Gotoors()"><i class="fa fa-chevron-left" aria-hidden="true"></i><span>Back</span></button>
                        <button class="pull-right mo-nav-btn" ng-click="GoToQ2(survey.Q1,'tab.ors2')"><span>Next</span><i class="fa fa-chevron-right" aria-hidden="true"></i></button>-->
                        <!--<h4>ORS (1/4)</h4>-->
                        <h4 ng-if="isAdult == true">ORS (1/4)</h4>
                        <h4 ng-if="isAdult == false">Child ORS (1/4)</h4>
                    </div>
                </header>
          	</div>

        <form>           
            <div class="questionPad">
                <div class="col surveyQuestionHead">
                   <div ng-if="isAdult == true">{{translation.Q1ORSHeader}}</div>
                    <div ng-if="isAdult == false">{{translation.Q1ORSChildHeader}}</div> 
               </div>
            </div>
            <div>
                 <div >
           		<div class="col-xs-12">
                    <div class="mo-slider">
                    	<input type="range" name="survey" min="0" max="100" step="10" ng-model="survey.Q1" id="q1"/>
                    </div>
                </div>
            </div>
            </div>
        </form>
         </section>
    </ion-content>
</ion-view>