<ion-view  hide-nav-bar="true">
        <ion-nav-buttons side="right">
            <a class="button button-clear icon icon-right ion-chevron-right" href="#/tab/ORS1">Start</a>
        </ion-nav-buttons>
        <ion-content>
             <section class="bgors" style="background-image:url(images/Landing%20page.jpg)">

<div >
                <header class="col-xs-12 text-center">
                	<div class="head-nav">

                        <button class="pull-left mo-nav-btn ion-chevron-left" ng-click="Gotoclientlist()"><span style="font-size: 18px;">Back</span><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                        <button class="pull-right mo-nav-btn"  ng-click="GoToQ1(ors,'tabprovider.ors1')"><span style="font-size: 18px;">Start</span><i class="fa fa-chevron-right icon-right ion-chevron-right" aria-hidden="true"></i></button>

                        <!--<button class="pull-left mo-nav-btn" ng-click="Gotohome()" ><i class="fa fa-chevron-left" aria-hidden="true"></i><span>Back</span></button>
                        <button class="pull-right mo-nav-btn" ng-click="GoToQ1(ors,'tab.ors1')"><span>Start</span><i class="fa fa-chevron-right" aria-hidden="true"></i></button>-->
                        <h4 ng-if="isAdult == true">Take ORS</h4>
                        <h4 ng-if="isAdult == false">Take Child ORS</h4>

                    </div>
                </header>
          	</div>

            <form>
    
                <div  class="col surveyHead" id="instructions">                       
                    <div ng-if="isAdult == true">{{translation.ORSInstructions}}</div>
                    <div ng-if="isAdult == false">{{translation.ORSChildInstructions}}</div>
                </div>

            </form>
             </section>
        </ion-content>
</ion-view>