<ion-view hide-nav-bar="true">
    <!--<ion-nav-buttons side="right">
        <a class="button button-clear icon icon-right ion-chevron-right" href="#/tab/SRS1">Start</a>
    </ion-nav-buttons>-->
    <ion-content >
        <section class="bgors" style="background-image:url(images/Landing%20page.jpg)">
       <div >
                <header class="col-xs-12 text-center">
                	<div class="head-nav">
                        <button class="pull-left mo-nav-btn icon-left  ion-chevron-left" ng-click="Gotoclientlist()" ><span style="font-size: 18px;">Back</span><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                        <button class="pull-right mo-nav-btn" ng-click="GoToQ1(tabprovider-srs,'tabprovider.srs1')"><span style="font-size: 18px;">Start</span><i class="fa fa-chevron-right  icon-right ion-chevron-right" aria-hidden="true"></i></button>
            
                        <!--<h4 ng-if="isGroup == false">Take SRS</h4>
                        <h4 ng-if="isGroup == true">Take Group SRS</h4>-->

        <h4>
                    <div ng-if="isAdult == true"> 
                          
                <div ng-if="isGroup == false">Take SRS</div>
                <div ng-if="isGroup == true">Take Group SRS</div>

                    </div>

                    <div ng-if="isAdult == false">

                <div ng-if="isGroup == false">Take Child SRS</div>
                <div ng-if="isGroup == true">Take Group SRS</div>

                    </div>
       </h4>
                        
                    </div>
                </header>
          	</div>
       
        <form>
            <div class="col surveyHead" id="instructions">
                
                    <div ng-if="isAdult == true"> 
                          
                <div ng-if="isGroup == false">{{translation.SRSInstructions}}</div>
                <div ng-if="isGroup == true">{{translation.SRSGroupInstructions}}</div>

                    </div>

                    <div ng-if="isAdult == false">

                <div ng-if="isGroup == false"> {{translation.SRSChildInstructions}}</div>
                <div ng-if="isGroup == true">{{translation.SRSGroupInstructions}}</div>

                    </div>

            </div>

        </form>
        </section>
    </ion-content>
</ion-view>