<ion-tabs class="tabs-icon-top ">

    <!-- Home Tab -->
    <ion-tab title="Client list" icon="icon ion-home" ng-click="navigateHome()">
        <ion-nav-view name="tab-provider"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Sign-Out" icon="ion-log-out" ng-click="logout()">
    </ion-tab>



</ion-tabs>