
<ion-view hide-nav-bar="true">

    <ion-content>
<section class="bg" style="background-image:url(images/Landing%20page.jpg)">
<div class="container">
        	<div class="row">
                <header class="col-xs-12">
                    <div class="logo">
                        <img src="images/logo.png">
                    </div>
                </header>
          	</div>
</div>
        <div class="list list-inset">
       

<label class="item item-divider">
                Select your MyOutcomes account:
            </label>

      <div class="item item-radio" >
            <select ng-model="region" style="width:100%" class="item-content" ng-change="setServer(region)">
                <option value="" disabled selected>Select your Country</option>
                <option type="radio" name="region" value="UK" >UK</option>
                 <option type="radio" name="region" value="US" >United States</option>
                  <option type="radio" name="region" value="CA" >Canada</option>
                   <option type="radio" name="region" value="INT">International</option>
            </select>
            </div>
            
 
        </div>

            <form ng-submit="login(loginData)">
                <div class="list list-inset">
                    <label class="item item-input">
                        <span class="input-label">User ID:</span>
                        <input type="text" placeholder="User ID" ng-model="loginData.userName" />
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Password:</span>
                        <input type="password"  placeholder="Password" ng-model="loginData.password" />
                    </label>
                </div>
                
                <div class="padding">
                    <button class="button button-block button-balanced" type="submit">
                        Sign-In
                    </button>
                    <div style="width:100%"> 
                        <input type="checkbox" ng-click="showWarning=!showWarning;popup(showWarning)" name="rememberme" id="rememberme"/> 
                        <span><b for="rememberme">Remember my login</b></span>
                        <!--<label for="rememberme">Remember my login</label>-->
                        </div>
                    <div data-ng-hide="message == ''" class="alert alert-danger center">
                        {{message}}
                    </div>
                    <div class="forgot">
                        <p>To login contact your therapist/counsellor for your User ID and Password.</p>
                        <p>Therapists/Clinicians without a MyOutcomes account can contact us to receive 2 months free access.</p>
                        <p>
                            They can redeem offer here: 
                            <a href="#" onclick="window.open('http://www.myoutcomes.com/free-trial-for-creating-an-evaluation-account/', '_blank', 'location=yes&closebuttoncaption=Done'); return false;">
                               <b>Redeem offer</b>
                            </a>
                        </p>
                    </div>

                </div>
            </form>

</section>
    </ion-content>
</ion-view>