﻿<ion-tabs class="tabs-icon-top ">

    <!-- Home Tab -->
    <ion-tab title="Home" icon="icon ion-home" href="#/tab/home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Sign-Out" icon="ion-log-out" ng-click="logout()">
    </ion-tab>



</ion-tabs>