<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/rangeslider.css" rel="stylesheet">
    <link href="lib/ionic/css/loading-bar.css" rel="stylesheet" />
   <link href="lib/ionic/css/ionic-toast.css" rel="stylesheet">
   

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ngstorage/ngStorage.min.js"></script>
    <script src="lib/ionic/js/angular/angular-local-storage.min.js"></script>
    <script src="lib/ionic/js/angular/angular-resource.js"></script>
    <script src="lib/ionic/js/jquery/jquery.min.js"></script>
     <script src="lib/ionic/js/rangeslider.min.js"></script>
    <script src="lib/ionic/js/bootstrap.min.js"></script>
     <script src="lib/ionic/js/script.js"></script>
    <script src="lib/ionic/js/highcharts/highcharts.js"></script>
    <script src="lib/ionic/js/highcharts/highcharts-more.js"></script>
     <script src="lib/ionic/js/angular/loading-bar.js"></script>
              
            <script src="lib/ionic/js/ionic-toast.bundle.min.js"></script>
            <script src="lib/ionic/js/ionic-toast.module.js"></script>
            <script src="lib/ionic/js/ionic-toast.provider.js"></script>
            <script src="lib/ionic/js/ionic-toast.run.js"></script>
            
    <script src="lib/ionic/js/ng-cordova.js"></script>
    <script src="lib/ionic/js/ng-cordova.min.js"></script>
    
      <link href="css/style.css" rel="stylesheet">

<!--<script src="lib/ngCordova/dist/ng-cordova.min.js"></script>-->
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

<!--<script type="text/javascript" charset="utf-8" src="cordova-1.7.0.js"></script>
      <script type="text/javascript" charset="utf-8">-->

    <!-- your app's js -->
    <script src="js/app.js"></script>
     <script src="js/services/authService.js"></script>
    <script src="js/services/translationService.js"></script>
    <script src="js/services/authInterceptorService.js"></script>
    <script src="js/services/clientService.js"></script>
  
    <!--<script src="js/services/feedbackService.js"></script>-->
    <script src="js/services/graphService.js"></script>
     <script src="js/services/providergraphService.js"></script>
    <script src="js/services/surveyService.js"></script>
      <script src="js/services/providersurveyService.js"></script>
    <script src="js/services/sharedSurveyService.js"></script> 
 
     <script src="js/services/storageService.js"></script>
    <script src="js/services/clientlistService.js"></script>
     <script src="js/services/couplelistService.js"></script>
      <script src="js/services/feedbacklistService.js"></script>
   <script src=js/services/ionicCordovaNetwork.js></script>
    <script src="lib/ionic/js/angular/loading-bar.js"></script>

<script src="js/controllers/indexController.js"></script>
    <script src="js/controllers/tabController.js"></script>
    <script src="js/controllers/providertabController.js"></script>
    <script src="js/controllers/signinController.js"></script>
    <script src="js/controllers/homeController.js"></script>
    <script src="js/controllers/surveyController.js"></script>
     <script src="js/controllers/providersurveyController.js"></script>
    <script src="js/controllers/feedbacklistController.js"></script>
    <script src="js/controllers/graphController.js"></script>
     <script src="js/controllers/providergraphController.js"></script>
    <script src="js/directives/graphDirective.js"></script>
    <!--<script src="js/controllers/connectionCtrl.js"></script>-->
    <script src="js/controllers/clientlistController.js"></script>
    <script src="js/controllers/couplelistController.js"></script>

  </head>

<body ng-app="starter" animation="slide-left-right-ios7" ng-controller="IndexCtrl">
    
    <!--<ion-nav-bar class="bar-stable nav-title-slide-ios7" align-title="center" >
        <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
           Back
        </ion-nav-back-button>
    </ion-nav-bar>-->
    
    <ion-nav-view></ion-nav-view>
    <!--<div>{{myname}}</div>-->
</body>


</html>
