/* Empty. Add your own CSS if you like  */

/* Empty. Add your own CSS if you like  */
.scroll
{
	height: 100%;
}

.surveyHead
{ 
    text-align:center;
    font-size:12px;
    padding-top:25px;
    padding-left:15px;
    padding-right:15px;

}

.questionPad { padding-top:25px;}


.surveyQuestionHead
{
    text-align:center;
    font-size:12px;
    width:100%;
    font-weight:bold;
}

.surveySlider { width: 100%;
    background: rgba(0, 0, 0, 0);
    border: none;}

.seperator { height:20px; clear:both;}

.srs-left { font-size:11px; padding-left:5px; text-align:left; }

.srs-right { font-size:11px; padding-right:6px; text-align:right;}



.feedback { font-size: 12px;}

.feedback-row { border-bottom:dashed 1px;border-top: dashed 1px ;margin-top:0px;margin-bottom:4px;}

.feedback-col { padding-top:15px;margin-bottom: 10px;}
.feedback-colimg { margin-top:10px;text-align:center;}

.center {text-align:center;}

.interpretation {font-size:12px;}

.capitalize { text-transform:capitalize;}

.forgot { clear:both; font-size:11px; margin-bottom:50px;}

.alert { color: red;}

input[type=range]::-moz-range-thumb {
    height: 25px;
    width: 25px;
    border-radius: 50%;
   
}

input[type=range]::-webkit-slider-thumb {

    height: 25px;
    width: 25px;
    border-radius: 50%;
  
}
input[type=range]::-ms-thumb {
    height: 25px;
    width: 25px;
    border-radius: 50%;
   
}
input[type=range]::-moz-range-track {
    padding-top: 6px;
}
input[type=range]::-webkit-slider-runnable-track {
    padding-top: 6px;
}
input[type=range]::-ms-track {
        padding-top: 6px;
}



*{
	margin:0;
	padding:0;
}
html, body {
	width:100%;
	height:100%;
	font-size:14px;
	color:#3854a7;
}
.bg {
	min-height:100%;
	background-color:#f2f3f5;
	background-position:left bottom;
	background-repeat:no-repeat;
	background-size:cover;
}

.bgors{
    min-height:100%;
	background-color:#f2f3f5;
	background-position:left bottom;
	background-repeat:no-repeat;
	background-size:cover;
}

.bghome{
    min-height:100%;
	background-color:#f2f3f5;
	background-position:left bottom;
	background-repeat:no-repeat;
	background-size:cover;
}

.logo {
	height:90px;
	text-align:center;
	margin:25px 0;
}
.logo img {
	height:100%;
}
.mo-heading {
	font-family:"Times New Roman", Times, serif;
	margin:20px 0;
}
.opt-click {
	font-family:"Times New Roman", Times, serif;
	margin:15px 0;
}
.opt-click ul {
	list-style:none;
	margin:0;
	padding:0;
	font-size:16px;
}
.opt-click ul li {
	display:inline-block;
	margin:10px 0;
}
.opt-click ul li a {
	display:inline-block;
	margin:0 5px;
	padding:5px;
	color:#a0ce4e;
	text-decoration:underline;
	line-height:1.5em;
}
.btn-mo {
	background: #a0ce4e;
    color: #fff;
    border-radius: 25px;
    padding: 10px 25px;
    border: 2px solid #fff;
    box-shadow: 2px 2px 5px 0px rgba(99, 99, 99, 0.78);
}
.reg-links {
	margin: 40px 0;
    list-style: none;
	display: inline-block;
}
.reg-links li {
	text-align:left;
	display:inline-block;
}
.reg-links li a {
	display:inline-block;
	margin:0 5px;
	padding:5px;
	color:#3854a7;
}
.reg-tab {
	display: table;
    margin: 0 auto;
}
.reg-tab div {
	display: table-cell;
	vertical-align: middle;
	padding: 0 5px;
}
.reg-tab div img {
	width: 40px;
}
.reg-tab div p {
	font-size: 1.3em;
    font-weight: bold;
    margin: 0;
	text-decoration:underline;
	line-height:1.5em;
}

.head-nav {
	margin-top:25px;
	margin-bottom:50px;
}
.head-nav h4 {
	margin-top:0;
	padding:0 60px;
	font-weight:bold;
}
.mo-nav-btn {
	background:none;
	border:none;
	color:#a0ce4e;
	border-bottom:1px solid #a0ce4e;
	outline:none;
	font-size:16px;
	font-weight:bold;
}
.mo-nav-btn span {
	padding:0 2px;
}
.mo-nav-btn i {
	padding:0 2px;
}
.mo-slider {
	margin:50px 0;
}

.rangeslider, .rangeslider__fill {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.rangeslider--horizontal {
    height: 10px;
}
.rangeslider__fill {
    background: #a0ce4e;
    position: absolute;
}
.rangeslider__handle {
	background:#a0ce4e;
	width: 30px;
    height: 30px;
	-moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.rangeslider__handle::after {
	background:#fff;
	width: 20px;
    height: 20px;
}
.range{
    align-items: center;
    padding: 12px 11px;
}

@import 'https://code.highcharts.com/5/css/highcharts.css';
#container {
	
	margin: 0 auto;
}
.highcharts-point.highcharts-color-0,
.highcharts-legend-item.highcharts-color-0 .highcharts-point,
.highcharts-tooltip .highcharts-color-0 {
	fill: #b3597c;
}
.highcharts-tooltip.highcharts-color-0,
.highcharts-data-label-connector.highcharts-color-0 {
	stroke: #b3597c;
}
@media (max-width:600px) {
	.opt-click ul li {
		display:block;
	}
	.reg-links li {
		display:block;
	}
	.btn-mo {
		border-radius: 25px;
		padding: 7px 10px;
		font-size:12px;
	}
	.reg-tab div img {
		width: 30px;
	}
	.reg-tab div p {
		font-size: 1em;
	}
}
@media (max-width:320px) {
 .client-desc{
	width:55% !important;float:left;
}
}
.bar-subheader {
    top: 0px;
    
}
.bar-header {
    height: 45px;
	/*background-color: #F1FDEF;*/
    
}

.item-icon-right {
    float: right;
	padding-right: 0;
}
.item-icon-right a {
    padding-left: 5px;
}
.client-desc{
	width:50%;float:left;
}